<!DOCTYPE html>
<html>
  <head>
    <title>{{ site.name }} | {{ page.title }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/images/icon48.png" />
    <link rel="stylesheet" href="/css/style.min.css">
    <script type="text/javascript" src="/js/vendor/modernizr.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1><img src="images/icon96.png"> {{ site.name }} | {{ page.title }}</h1>
      </div>
      <div class="row">
        <div class="col-md-7">
          <div class="alert alert-info"> 
            <h4 class="text-center">Displays a status icon next to links on an activated search page.<br/>You will only see the extension icon in the address bar when you are on a valid linked search engine page.
            </h4>
          </div>
        </div>
        <div class="text-center col-md-4 col-md-offset-1">
          <a class="btn btn-primary" href="http://heartbleedsearch.uservoice.com" target="_blank">User Feedback for Heartbleed Search</a>
        </div>
      </div>
      <hr>

      {{ content }}

      <div class="row">
        <div class="col-sm-3">
          <h2><span class="icon-search"></span> Search Engine</h2>
          <div class="btn-group-vertical aligncenter">
            <a class="btn btn-primary btn-lg" href="https://www.google.com/#q=Heartbleed+Search" target="_blank">Google <span class="icon-google"></span></a>
            <a class="btn btn-primary btn-lg" href="https://www.bing.com/search?q=Heartbleed+Search" target="_blank">Bing <span class="icon-search"></span></a>
            <a class="btn btn-primary btn-lg" href="https://search.yahoo.com/search?p=Heartbleed+Search" target="_blank">Yahoo <span class="icon-yahoo"></span></a>
            <a class="btn btn-primary btn-lg" href="http://www.ask.com/web?q=Heartbleed+Search" target="_blank">Ask <span class="icon-search"></span></a>
            <a class="btn btn-primary btn-lg" href="http://search.aol.com/aol/search?q=Heartbleed+Search" target="_blank">AOL <span class="icon-search"></span></a>
            <a class="btn btn-primary btn-lg" href="http://www.wow.com/search?q=Heartbleed+Search" target="_blank">Wow <span class="icon-search"></span></a>
            <a class="btn btn-primary btn-lg" href="https://duckduckgo.com/?q=Heartbleed+Search" target="_blank">DuckDuckGo <span class="icon-search"></span></a>
            <a class="btn btn-primary btn-lg" href="https://blekko.com/#?q=Heartbleed%20Search" target="_blank">Blekko <span class="icon-search"></span></a>
            <a class="btn btn-primary btn-lg" href="https://ixquick.com/do/search?q=Heartbleed+Search" target="_blank">IXQuick <span class="icon-search"></span></a>
          </div>
        </div>
        <div class="col-sm-3 col-sm-offset-1">
          <h2><span class="icon-chrome"></span> On/Off</h2>
          <div class="media">
            <div class="pull-left">
              <div class="img-thumbnail bg-default"><img src="images/icon48.png" alt="ON" ></div>
            </div>
            <div class="media-body">
              <h4 class="text-primary">Extension is ON</h4>
            </div>
          </div>
          <div class="media">
            <div class="pull-left">
              <div class="img-thumbnail bg-default"><img src="images/icon-off48.png" alt="OFF" ></div>
            </div>
            <div class="media-body">
              <h4 class="text-muted">Extension is OFF</h4>
            </div>
          </div>
          <hr>
          <div class="alert alert-info col-lg-10">When you see one of the above icons in the address bar, you can toggle on it to turn Heartbleed Search ON or OFF</div>
        </div>
        <div class="col-sm-4 col-sm-offset-1">
          <h2 class="text-center"><span class="icon-link"></span> Link Status</h2>
          <div class="media">
            <div class="pull-left">
              <div class="img-circle img-thumbnail bg-default"><img src="/images/icon-nok48.png" alt="BAD" ></div>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Vulnerable to Heartbleed</h4>
              Displays next to a search link when the server for the domain tests as vulnerable for the Heartbleed bug.
            </div>
          </div>
          <div class="media">
            <div class="pull-left">
              <div class="img-circle img-thumbnail bg-default"><img src="/images/icon-ok48.png" alt="OK" ></div>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Site tested Ok!</h4>
              The server was tested and seems Ok!
            </div>
          </div>
          <div class="media">
            <div class="pull-left">
              <div class="img-circle img-thumbnail bg-default"><img src="/images/icon-err48.png" alt="ERR" ></div>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Cannot be tested. Use Caution!</h4>
              The server was NOT tested due to an Error.
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div>
        <h4 class="text-center"> Brought to you by <a class="btn btn-default btn-sm" href="https://twitter.com/3_alves" target="_blank">Tony Alves <span class="icon-twitter"></span></a> &copy; <a class="btn btn-primary btn-sm" href="http://www.heartbleedsearch.com" target="_blank">HeartbleedSearch.com</a></h4>
        <h4 class="text-center"> Heartbleed check made available by <a class="btn btn-default btn-sm" href="https://twitter.com/FiloSottile" target="_blank">Filippo Valsorda <span class="icon-twitter"></span></a>  at <a class="btn btn-primary btn-sm" href="https://filippo.io/Heartbleed/" target="_blank">Filippo.io <span class="icon-thumbs-up"></span></a></h4>

      </div>
      <hr>
      <div class="footer">
        <div class="contact">
          To use this site and extension see the <a class="btn btn-sm btn-link" href="http://www.heartbleedsearch.com/license/" target="/license/">License and Terms found here</a>
        </div>
      </div>

    </div>
    <!-- Javascript should always be put at the end of the body to allow page to load even faster -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/js/vendor/jquery.min.js")"><\/script>')</script>
    <script src="js/main.min.js"></script>
    <script>
      // Include the UserVoice JavaScript SDK (only needed once on a page)
      UserVoice = window.UserVoice || [];
      (function() {
        var uv = document.createElement('script');
        uv.type = 'text/javascript';
        uv.async = true;
        uv.src = '//widget.uservoice.com/iQL9dI5nH7qe4c6sTaezOg.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(uv, s)
      })();
      // Set colors
      UserVoice.push(['set', {
          accent_color: '#9e1f21',
          trigger_color: 'white',
          trigger_background_color: 'rgba(46, 49, 51, 0.6)'
        }]);

      // Identify the user and pass traits
      // To enable, replace sample data with actual user traits and uncomment the line
      UserVoice.push(['identify', {
        }]);

      // Add default trigger to the bottom-right corner of the window:
      UserVoice.push(['addTrigger', {mode: 'contact', trigger_position: 'top-right'}]);
      // Autoprompt for Satisfaction and SmartVote (only displayed under certain conditions)
      UserVoice.push(['autoprompt', {}]);
    </script>   
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(b, o, i, l, e, r) {
        b.GoogleAnalyticsObject = l;
        b[l] || (b[l] =
                function() {
                  (b[l].q = b[l].q || []).push(arguments)
                });
        b[l].l = +new Date;
        e = o.createElement(i);
        r = o.getElementsByTagName(i)[0];
        e.src = '//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e, r)
      }(window, document, 'script', 'ga'));
      ga('create', 'UA-50610204-1');
      ga('send', 'pageview');
    </script>
  </body>
</html>
